body {
    background-color: rgb(20, 150, 107);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.nav-link {
    font-size: 2em;
}

.promo {
    text-align: center;
}

.ImgProduit {

    width: 20%;

}

#navbarTogglerDemo2 {
    background-color: black;
    display: block;
    height: 60px;
}

#UnAccueil {
    color: white;
}
#UnAccueil:hover{
    color:yellow;
}

#Catalogue {
    color: white;
}
#Catalogue:hover{
    color:lightgreen;
}

#LePanier {
    color: white;
}
#LePanier:hover{
    color:orange;
}
#Formulaire_du_Ticket{
    color:white;
}
#Formulaire_du_Ticket:hover{
    color:lightseagreen;
}
#Formulaire_Ticket{
    color:white;
    position: relative;
    display:block;
    height:220px;
    width:400px;
    left:700px;
    background-color: brown;
}

#Connexion {
    position: relative;
    display: block;
    height: 250px;
    width: 230px;
    margin-left: 805px;
    background-color: brown;
}

#UneInscription {
    position: relative;
    display: block;
    height: 250px;
    width: 230px;
    margin-left: 805px;
    background-color: brown;
}

a:hover {
    color: white;
}

.header {
    align-content: center;
}

.btn {
    align-content: center;
    color: white;
}

form {
    text-align: center;
    margin-top: 50px;
}

h1 {
    text-align: center;
    font-size: 4em;
}

h2 {
    font-family: 'Times New Roman', Times, serif;
}

.vedette {

    width: 30%;
}


.CardProduit {
    /* marge intérieure */
    margin: 20px;
    /* marge extérieure */
    padding: 0;
    /* affichage block */
    display: flex;
    /* déplacement block */
    flex-flow: row wrap;
    /* déplacement horizontal */
    justify-content: space-between;
    /* déplacement vertical */
    align-items: center;
    /* soulignement */
    text-decoration: none;
}

.Ajouter {
    /* marge intérieure */
    margin: 50px;
    /* marge extérieure */
    padding: 5px;
}

.TextProduit {
    color: white;
    font-size: 30px;
}

#LesBoutons {
    background-color: lightgreen;
}

#ticket{
    background-color: cyan;
}
#Un_Espace_Commerciaux{
    color:white;
}
#Un_Espace_Commerciaux:hover{
    color:red;
}
#Le_Client{
    color:white;
}
#Le_Client:hover{
    color:beige;
}
#Retour_Connexion{
  font-style: italic;
    
}